{%extends 'base.html'%}
{%load static%}

{%block title%} Sobre | Studying Abroad {%endblock%}
{%block css-auxiliar%}
<link rel="stylesheet" href="{%static 'css/estiloSobre.css'%}">
{%endblock%}


{%block conteudo%}
<section class="container">
    <h2 class="centraliza-texto mb-5">Nosso sonho é realizar seu sonho de estudar no exterior</h2>
    <p class="lead"> Olá. Somos um site com fim de te apresentar e auxiliar à oportunidades de graduação no exterior.
        Temos aqui reunido informações sobre application, datas de provas, testes obrigatórios e dicas de como
        ser aprovado. Acreditamos que a educação é como mudaremos o mundo. Seja bem vindo e se sinta à vontade no site.
        faça seu cadastro e crie uma college list para lhe auxiliar na sua aplicação ou simplesmente se sinta a vontade
        para
        ler e entender à respeito, para saber se é isso que realmente deseja.
    </p>
    <h2 class="centraliza-texto mb-5 mt-5">
        Como surgimos?
    </h2>
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" width="60%" src="{%static 'images/IFlogo.png'%}">
            </div>
            <div class="col-md-6">
                <p class="lead" >O presente site foi idealizado como Projeto Final de curso no Instituto
                Federal do Paraná campus Quedas do Iguaçu. Sempre me interessei por interculturalização
                    e no assunto aqui abordado, as grandes universidades do mundo sempre chamaram minha atenção 
                    e por muito tempo não tive o conhecimento que era possível alcançar o sonho de se graduar nessas universidades,
                    somente depois de muito tempo tomei conhecimento. Então como meio de democratizar Essa informação que foi concebida a ideia do Projeto
                    aqui apresentado 
                </p> 
            </div>
        </div>

        
    

</section>
{%endblock%}